body {
  background-image: url(me.jpg);
  max-width: 960px;
  margin: 0 auto;
}
div {
  border: 1px solid black;
  padding 5px 15px;
}
h4 {
  text-align: center;
}
.header {
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  background-image: url('you.jpg');
  min-height: 200px;
  line-height: 200px;
  text-align:center;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.sidebar {
  background: #dedede;
  float:left;
  margin-right: 10px;
  max-width: 200px;
  min-width: 150px;
}
.sidebar1 {
  background: #cb9c00;
  float: right;
  margin-left: 10px;
  max-width: 200px;
}
.container {
  text-align: justify;
  background: #0089ff;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
  footer {
    font-weight: bold;
    color: #red;
    background: #505050;
    min-height: 30px;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
